force-app/main/default/flows/ACCEPTORS_Acceptors_AS_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decNumberOfAcceptorsForStore</name>
        <label>Number of Acceptors for Store</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decNumberOfAcceptorsForStore1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Store__r.Total_Amount_of_MID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decStoreAcceptsPayment</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreAcceptsPayment</name>
        <label>Store Accepts Payment</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decStoreAcceptsPaymentVoucherCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Store__r.AT_Accepts_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher+Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStoreAcceptsPaymentVoucherOnly</targetReference>
            </connector>
            <label>Voucher Card</label>
        </rules>
        <rules>
            <name>decStoreAcceptsPaymentCardOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Store__r.AT_Accepts_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStoreAcceptsPaymentNone</targetReference>
            </connector>
            <label>Card Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ACCEPTORS: Acceptors AS delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACCEPTOR: Acceptors AS delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getStoreID</name>
        <label>Get Store ID</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowACCOUNTCalculateMIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ER_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updStoreAcceptsPaymentNone</name>
        <label>Store Accepts Payment None</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ER_Store__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AT_Accepts_Payment__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ER_Store__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updStoreAcceptsPaymentVoucherOnly</name>
        <label>Store Accepts Payment Voucher Only</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ER_Store__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AT_Accepts_Payment__c</field>
            <value>
                <stringValue>Voucher only</stringValue>
            </value>
        </inputAssignments>
        <object>ER_Store__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStoreID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ER_Store__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ER_Acceptor__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowACCOUNTCalculateMIDs</name>
        <label>Account Calculate MIDs</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>decNumberOfAcceptorsForStore</targetReference>
        </connector>
        <flowName>ACCOUNT_CalculateMIDs</flowName>
        <inputAssignments>
            <name>varStoreID</name>
            <value>
                <elementReference>getStoreID.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
