force-app/main/default/flows/ACCOUNT_Create_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>chcCardContract</name>
        <choiceText>Card Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CardContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcCardPaperContract</name>
        <choiceText>Card and Paper Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CardPaperContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcGeschenk</name>
        <choiceText>Edenred Geschenk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TC</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcLebensmittel</name>
        <choiceText>Edenred Lebensmittel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcRestaurant</name>
        <choiceText>Edenred Restaurant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TR</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decActiveGeschenkCardContract</name>
        <label>Active Geschenk Card Contract</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>creContractGeschenkCardMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decActiveGeschenkCardContractYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveGeschenkCardContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveGeschenkCardContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decActiveGeschenkPaperContract</name>
        <label>Active Geschenk Paper Contract</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>creContractGeschenkPaperMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveGeschenkPaperContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveGeschenkPaperContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decActiveLebensmittelCardContract</name>
        <label>Active Lebensmittel Card Contract</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>creContractLebensmittelCardMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decActiveLebensmittelCardContractYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveLebensmittelCardContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveLebensmittelCardContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decActiveLebensmittelPaperContract</name>
        <label>Active Lebensmittel Paper Contract</label>
        <locationX>908</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>creContractLebensmittelPaperMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decActiveLebensmittelPaperContractYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveLebensmittelPaperContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveLebensmittelPaperContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decActiveRestaurantCardContract</name>
        <label>Active Restaurant Card Contract</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>creContractRestaurantCardMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decActiveRestaurantCardContractYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveRestaurantCardContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveRestaurantCardContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decActiveRestaurantPaperContract</name>
        <label>Active Restaurant Paper Contract</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>creContractRestaurantPaperMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decActiveRestaurantPaperContractYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveRestaurantPaperContractsCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrErrorActiveRestaurantPaperContract</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decContractProduct</name>
        <label>Contract Product</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decContractProductRestaurant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcRestaurant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveRestaurantCardContractsCurrentAccount</targetReference>
            </connector>
            <label>Restaurant</label>
        </rules>
        <rules>
            <name>decContractProductLebensmittel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcLebensmittel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveLebensmittelCardContractsCurrentAccount</targetReference>
            </connector>
            <label>Lebensmittel</label>
        </rules>
        <rules>
            <name>decContractProductGeschenk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcGeschenk</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveGeschenkCardContractsCurrentAccount</targetReference>
            </connector>
            <label>Geschenk</label>
        </rules>
    </decisions>
    <decisions>
        <name>decContractTypeGeschenk</name>
        <label>Contract Type Geschenk</label>
        <locationX>1832</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decContractTypeGeschenkCardPaper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldContractType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcCardPaperContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveGeschenkPaperContractsCurrentAccount</targetReference>
            </connector>
            <label>Card and Paper</label>
        </rules>
    </decisions>
    <decisions>
        <name>decContractTypeLebensmittel</name>
        <label>Contract Type Lebensmittel</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decContractTypeLebensmittelCardPaper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldContractType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcCardPaperContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveLebensmittelPaperContractsCurrentAccount</targetReference>
            </connector>
            <label>Card and Paper</label>
        </rules>
    </decisions>
    <decisions>
        <name>decContractTypeRestaurant</name>
        <label>Contract Type Restaurant</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decContractTypeRestaurantCardPaper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldContractType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcCardPaperContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveRestaurantPaperContractsCurrentAccount</targetReference>
            </connector>
            <label>Card and Paper</label>
        </rules>
    </decisions>
    <description>added selection of card contracts only or card and paper contracts. (2024-08-21)</description>
    <dynamicChoiceSets>
        <name>chcAccountContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcAccountContactRel</name>
        <dataType>String</dataType>
        <displayField>ERAT_ContactName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcInvoiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Type__c</picklistField>
        <picklistObject>ER_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcPaymentDelay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Delay__c</picklistField>
        <picklistObject>ER_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>ER_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ACCOUNT: Create Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACCOUNT: Create Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creContractGeschenkCardMaster</name>
        <label>Contract Geschenk Card Master</label>
        <locationX>1964</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>decContractTypeGeschenk</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractGeschenkCardSlaveLebensmittel</name>
        <label>Contract Geschenk Card Slave of Lebensmittel</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>decContractTypeLebensmittel</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractLebensmittelCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractGeschenkCardSlaveRestaurant</name>
        <label>Contract Geschenk Card Slave of Restaurant</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>decContractTypeRestaurant</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractRestaurantCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractGeschenkPaperMaster</name>
        <label>Contract Geschenk Paper Master</label>
        <locationX>1766</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractGeschenkPaperSlaveLebensmittel</name>
        <label>Contract Geschenk Paper Slave of Lebensmittel</label>
        <locationX>1040</locationX>
        <locationY>1406</locationY>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractLebensmittelCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractGeschenkPaperSlaveRestaurant</name>
        <label>Contract Geschenk Paper Slave of Restaurant</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractRestaurantCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Geschenk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractLebensmittelCardMaster</name>
        <label>Contract Lebensmittel Card Master</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>creContractGeschenkCardSlaveLebensmittel</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Lebensmittel Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractLebensmittelCardSlaveRestaurant</name>
        <label>Contract Lebensmittel Card Slave of Restaurant</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>creContractGeschenkCardSlaveRestaurant</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractRestaurantCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Lebensmittel Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractLebensmittelPaperMaster</name>
        <label>Contract Lebensmittel Paper Master</label>
        <locationX>1040</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>creContractGeschenkPaperSlaveLebensmittel</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Lebensmittel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractLebensmittelPaperSlaveRestaurant</name>
        <label>Contract Lebensmittel Paper Slave of Restaurant</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>creContractGeschenkPaperSlaveRestaurant</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_MasterContract__c</field>
            <value>
                <elementReference>creContractRestaurantCardMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Lebensmittel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractRestaurantCardMaster</name>
        <label>Contract Restaurant Card Master</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>creContractLebensmittelCardSlaveRestaurant</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Restaurant Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creContractRestaurantPaperMaster</name>
        <label>Contract Restaurant Paper Master</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>creContractLebensmittelPaperSlaveRestaurant</targetReference>
        </connector>
        <inputAssignments>
            <field>AT_Closing_Fee__c</field>
            <value>
                <elementReference>fldClosingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Comments__c</field>
            <value>
                <elementReference>fldComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Decider_Contact__c</field>
            <value>
                <elementReference>fldDeciderCont.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Is_Chain__c</field>
            <value>
                <elementReference>fldIsChain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Opening_Fee__c</field>
            <value>
                <elementReference>fldOpeningFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_SEPA_Lastschriftmandat__c</field>
            <value>
                <elementReference>fldSEPALastschriftmandat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AT_Yearly_Multiple_Site_Fee__c</field>
            <value>
                <elementReference>fldAnnualServiceFeeFiliale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Value__c</field>
            <value>
                <elementReference>fldCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>fldContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Accountant_Contact__c</field>
            <value>
                <elementReference>fldAccountantContact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>fldInvoiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Commission__c</field>
            <value>
                <elementReference>fldMinimumCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Delay__c</field>
            <value>
                <elementReference>fldPaymentDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Edenred Restaurant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateContractRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fldStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getActiveGeschenkCardContractsCurrentAccount</name>
        <label>Active Geschenk Card Contracts of Current Account</label>
        <locationX>1832</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveGeschenkCardContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Compliments Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Geschenk Card</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveGeschenkPaperContractsCurrentAccount</name>
        <label>Active Geschenk Paper Contracts of Current Account</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveGeschenkPaperContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Compliments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Geschenk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveLebensmittelCardContractsCurrentAccount</name>
        <label>Active Lebensmittel Card Contracts of Current Account</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveLebensmittelCardContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Service Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Lebensmittel Card</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveLebensmittelPaperContractsCurrentAccount</name>
        <label>Active Lebensmittel Paper Contracts of Current Account</label>
        <locationX>908</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveLebensmittelPaperContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Lebensmittel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveRestaurantCardContractsCurrentAccount</name>
        <label>Active Restaurant Card Contracts of Current Account</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveRestaurantCardContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Restaurant Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Restaurant Card</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveRestaurantPaperContractsCurrentAccount</name>
        <label>Active Restaurant Paper Contracts of Current Account</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decActiveRestaurantPaperContract</targetReference>
        </connector>
        <filterLogic>1 and (2 or 4) and 3</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Restaurant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edenred Restaurant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get record type ID for Affiliate Contract</description>
        <name>getAffiliateContractRT</name>
        <label>Affiliate Contract RT</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decContractProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_Contract__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affiliate_Contract_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrErrorActiveGeschenkCardContract</name>
        <label>Error: Active Geschenk Card Contract</label>
        <locationX>1700</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decContractTypeGeschenk</targetReference>
        </connector>
        <fields>
            <name>txtErrorActiveGeschenkCardContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveGeschenkCardContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorActiveGeschenkPaperContract</name>
        <label>Error: Active Geschenk Paper Contract</label>
        <locationX>1502</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrorActiveGeschenkPaperContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveGeschenkPaperContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorActiveLebensmittelCardContract</name>
        <label>Error: Active Lebensmittel Card Contract</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decContractTypeLebensmittel</targetReference>
        </connector>
        <fields>
            <name>txtErrorActiveLebensmittelCardContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveLebensmittelCardContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorActiveLebensmittelPaperContract</name>
        <label>Error: Active Lebensmittel Paper Contract</label>
        <locationX>776</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrorActiveLebensmittelPaperContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveLebensmittelPaperContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorActiveRestaurantCardContract</name>
        <label>Error: Active Restaurant Card Contract</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decContractTypeRestaurant</targetReference>
        </connector>
        <fields>
            <name>txtErrorActiveRestaurantCardContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveRestaurantCardContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorActiveRestaurantPaperContract</name>
        <label>Error: Active Restaurant Paper Contract</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrorActiveRestaurantPaperContract</name>
            <fieldText>&lt;p&gt;There is already an active {!fldProduct} contract {!getActiveRestaurantPaperContractsCurrentAccount.Name} for Account {!recordId.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNewContract</name>
        <label>New Contract</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAffiliateContractRT</targetReference>
        </connector>
        <fields>
            <name>txtAccountName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!recordId.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>secInformation</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fldContractType</name>
                    <choiceReferences>chcCardContract</choiceReferences>
                    <choiceReferences>chcCardPaperContract</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chcCardContract</defaultSelectedChoiceReference>
                    <fieldText>Contract Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldProduct</name>
                    <choiceReferences>chcRestaurant</choiceReferences>
                    <choiceReferences>chcLebensmittel</choiceReferences>
                    <choiceReferences>chcGeschenk</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldCommission</name>
                    <dataType>Number</dataType>
                    <fieldText>Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldContractStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldStatus</name>
                    <choiceReferences>chcStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fldDeciderCont</name>
                    <choiceReferences>chcAccountContactRel</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Decider Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldAccountantContact</name>
                    <choiceReferences>chcAccountContactRel</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Accountant Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>secContractDetail</name>
            <fieldText>ContractDetail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secContractDetail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fldInvoiceType</name>
                    <choiceReferences>chcInvoiceType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Electronic</stringValue>
                    </defaultValue>
                    <fieldText>Invoice Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldPaymentDelay</name>
                    <choiceReferences>chcPaymentDelay</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Delay</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldSEPALastschriftmandat</name>
                    <dataType>Boolean</dataType>
                    <fieldText>SEPA Lastschriftmandat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldIsChain</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is Chain</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secContractDetail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fldMinimumCommission</name>
                    <dataType>Currency</dataType>
                    <fieldText>Minimum Commission</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldAnnualServiceFee</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>35.0</numberValue>
                    </defaultValue>
                    <fieldText>Annual Service Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldAnnualServiceFeeFiliale</name>
                    <dataType>Currency</dataType>
                    <fieldText>Annual Service Fee Filiale</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldOpeningFee</name>
                    <dataType>Currency</dataType>
                    <fieldText>Opening Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fldClosingFee</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>15.0</numberValue>
                    </defaultValue>
                    <fieldText>Closing Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>secComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secComments_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fldComments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrNewContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
