force-app/main/default/flows/ACCOUNT_CalculateMIDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assInitializeVarAccountMIDs</name>
        <label>Initialize varAccountMIDs</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varStoreMIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filterActiveAcceptors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assStoreMIDs</name>
        <label>Store MIDs</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varStoreMIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmStoreMIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopActiveAcceptorsOfStore</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filterActiveAcceptors</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Acceptors</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItemFromSourceCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAcceptorsOfStore</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItemFromSourceCollection.AT_Acceptor_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopActiveAcceptorsOfStore</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decStoreHasAcceptors</name>
        <label>Store Has Acceptors</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>updStoreMIDsEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreHasAcceptorsYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAcceptorsOfStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assInitializeVarAccountMIDs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmStoreMIDs</name>
        <dataType>String</dataType>
        <expression>IF (
ISBLANK({!varStoreMIDs}),
{!loopActiveAcceptorsOfStore.ERAT_MIDSubMIDAutothorization__c},
{!varStoreMIDs}&amp;&quot;;&quot;&amp;{!loopActiveAcceptorsOfStore.ERAT_MIDSubMIDAutothorization__c}
)</expression>
    </formulas>
    <interviewLabel>ACCOUNT: Calculate MIDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACCOUNT: Calculate MIDs</label>
    <loops>
        <name>loopActiveAcceptorsOfStore</name>
        <label>Loop Through Active Acceptors</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>filterActiveAcceptors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assStoreMIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updStoreMIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAcceptorsOfStore</name>
        <label>Get Acceptors of Store</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoreHasAcceptors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ER_Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStoreID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ER_Acceptor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updStoreMIDs</name>
        <label>Update Store MIDs</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStoreID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERAT_MIDs__c</field>
            <value>
                <elementReference>varStoreMIDs</elementReference>
            </value>
        </inputAssignments>
        <object>ER_Store__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updStoreMIDsEmpty</name>
        <label>Empty Store MIDs</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStoreID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERAT_MIDs__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>ER_Store__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAcceptorsOfStore</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Acceptor__c</objectType>
    </variables>
    <variables>
        <name>varStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoreMIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
