force-app/main/default/flows/CASE_Case_BS_create_only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decAccountIsPersonAccount</name>
        <label>Account Is Person Account</label>
        <locationX>182</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decAccountIsPersonAccountYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_from_Person_Account</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did Get Asset from Case Card Number find any assets?</description>
        <name>decAssetAvailable</name>
        <label>Asset Available</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>decAccountIsPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decAssetAvailableYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAssetFromCaseCardNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAsset</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseRT</name>
        <label>Case RT</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decCaseRTUserCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ER_User_Case_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssetFromCaseCardNumber</targetReference>
            </connector>
            <label>User Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUrlaubNichtErreichbar</name>
        <label>Urlaub Nicht erreichbar</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>decCaseRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decUrlaubNichtErreichbarYES</name>
            <conditionLogic>((1 or 2) and (13 or 14)) or (3 and (4 or 5 or 6 or 7 or 8) and (9 or 10 or 11 or 12)) or 15 or 16 or 17 or 18 or 19 or 20 or 21 or 22 or 23</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Noreply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No-reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCaseFromSameSender</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autoreply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>automatische Antwort</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autoresponse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Abwesenheitsnotiz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Urlaub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>derzeit nicht erreichbar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>nicht im Büro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Betriebsferien</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>noreply@dhl.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bestellung EG Papiergutscheine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>zloy_chechen20@hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ramz.kv@icloud.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dobrinnichkov123@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ramzankhangeriyev@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rqmzqn@hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ramzankhageriev@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>brooklyn777777@hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>petimat.khangeriyeva@icloud.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ruslankhanger@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStatusCancelled</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Get Asset from Web Asset Number (2024-08-20)
Get Individual from Person Account from User Cases (2024-04-30)
Set Status Cancelled for Cases No-Reply or Out-of-Office (2024-04-30)
Exception - no-reply email -&gt; if subjects contains &quot;Bestellung EG Papiergutscheine&quot; (2024-07-30)</description>
    <environments>Default</environments>
    <interviewLabel>CASE: Case BS create only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Case BS create only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Looks up the Asset based on Web Asset Number</description>
        <name>getAssetFromCaseCardNumber</name>
        <label>Get Asset from Case Card Number</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAssetAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Web_Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseFromSameSender</name>
        <label>Case from Same Sender</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decUrlaubNichtErreichbar</targetReference>
        </connector>
        <filterLogic>(1 or 2 or 3 or 4 or 5 or 6 or 7 or 8) and 9 and 10</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback external</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERDE_CaseAgeInMin__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Individual_from_Person_Account</name>
        <label>Individual from Person Account</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ER_Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ER_Individual__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updAsset</name>
        <label>Fill Asset</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>decAccountIsPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>getAssetFromCaseCardNumber.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updStatusCancelled</name>
        <label>Status Cancelled</label>
        <locationX>248</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>decCaseRT</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseFromSameSender</targetReference>
        </connector>
        <filterFormula>{!$User.ER_BypassWF__c}=FALSE</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
