force-app/main/default/flows/CASE_Case_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decAcceptedByUser</name>
        <label>Accepted by User</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decStatusChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decAcceptedByUserYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frmCaseOwnerIDLeft3Char005</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStatusInProgress</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseRT</name>
        <label>Case Record Type</label>
        <locationX>1766</locationX>
        <locationY>2141</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>decCaseRTUserCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ER_User_Case_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decEmployeeFilled</targetReference>
            </connector>
            <label>User Case</label>
        </rules>
        <rules>
            <name>decCaseRTClientCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decClientPrio</targetReference>
            </connector>
            <label>Client Case</label>
        </rules>
        <rules>
            <name>decCaseRTMerchantCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merchant_Prio</targetReference>
            </connector>
            <label>Merchant Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseRT1</name>
        <label>Case RT</label>
        <locationX>934</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>updCaseOwnerUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decCaseRT1Client_or_Merchant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCaseVRAccountOk</targetReference>
            </connector>
            <label>Client or Merchant</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseStatus</name>
        <label>Case Status</label>
        <locationX>1335</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>updCaseOwnerUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>decCaseStatusClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCaseVRReasonTypeOk</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseVRAccountOk</name>
        <label>Case VR Account ok</label>
        <locationX>780</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>decCaseRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decCaseVRAccountOkYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>updCaseOwnerUser</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCaseVRReasonTypeOk</name>
        <label>Case Validation Rules Reason Type ok</label>
        <locationX>1143</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>decCaseRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decCaseVRReasonTypeOkYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCaseRT1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decClientPrio</name>
        <label>Client Prio</label>
        <locationX>1370</locationX>
        <locationY>2249</locationY>
        <defaultConnector>
            <targetReference>updPrioLow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>decClientPrioA0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Priorization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updPrioHigh</targetReference>
            </connector>
            <label>A0</label>
        </rules>
        <rules>
            <name>decClientPrioAx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Priorization__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Priorization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updPrioMedium</targetReference>
            </connector>
            <label>Ax</label>
        </rules>
    </decisions>
    <decisions>
        <name>decEmployeeFilled</name>
        <label>Employee Filled</label>
        <locationX>578</locationX>
        <locationY>2249</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decEmployeeFilledYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Employee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ER_Employee__r.ER_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decUserCaseClientPrioEmployee</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsClosed</name>
        <label>Is Closed</label>
        <locationX>1766</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>decCaseRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decIsClosedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decOwner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decOwner</name>
        <label>Owner</label>
        <locationX>1563</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>decCaseRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOwnerQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCaseStatus</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStatusChanged</name>
        <label>Status Change</label>
        <locationX>1766</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>decIsClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decStatusChangedInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updFirstTimeInProgress</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>decStatusChangedClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updFirstTimeClosed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserCaseClientPrioEmployee</name>
        <label>User Case Client Prio from Employee</label>
        <locationX>314</locationX>
        <locationY>2357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decUserCaseClientPrioEmployeeA0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Employee__r.ER_Client__r.Priorization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updUserCaseEmployeeClientPrioHigh</targetReference>
            </connector>
            <label>A0</label>
        </rules>
        <rules>
            <name>decUserCaseClientPrioEmployeeAx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Employee__r.ER_Client__r.Priorization__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ER_Employee__r.ER_Client__r.Priorization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updUserCaseEmployeeClientPrioMedium</targetReference>
            </connector>
            <label>Ax</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Prio</name>
        <label>Merchant Prio</label>
        <locationX>2294</locationX>
        <locationY>2249</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_A_of_Merchant_Prio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Priorization_Merchant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prio_high_merchant</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>Outcome_B_of_Merchant_Prio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Priorization_Merchant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prio_Medium_merchant</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>Outcome_empty_of_Merchant_Prio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Priorization_Merchant__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Prio_Low_Merchant</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <description>Change Owner to User if Case belongs to Queue and all VR are ok. (2024-07-10)

Set User Case Priority based on Employee-Client Priority (2024-04-26)

Set First Time in Progress and First Time Closed fields based on Status Change (2024-04-22)

Set Client Case Priority based on Client Priority (2024-03-21)
Set Case Status &apos;In Progress&apos; when case is owned by User (2024-03-21)</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCaseOwnerIDLeft3Char005</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId}, 3)=&apos;005&apos;</expression>
    </formulas>
    <interviewLabel>CASE_Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Case AS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Prio_high_merchant</name>
        <label>Update Prio high Merchant</label>
        <locationX>1898</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prio_Low_Merchant</name>
        <label>Update Prio Low Merchant</label>
        <locationX>2426</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prio_Medium_merchant</name>
        <label>Update Prio Medium Merchant</label>
        <locationX>2162</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updCaseOwnerUser</name>
        <label>Case Owner</label>
        <locationX>1528</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>decCaseRT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updFirstTimeClosed</name>
        <label>First Time Closed</label>
        <locationX>1766</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>decIsClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Time_Closed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Time_Closed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updFirstTimeInProgress</name>
        <label>First Time in Progress</label>
        <locationX>1502</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>decIsClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Time_in_Progress1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Time_in_Progress1__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updPrioHigh</name>
        <label>Update Prio high</label>
        <locationX>1106</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updPrioLow</name>
        <label>Update Prio low</label>
        <locationX>1634</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updPrioMedium</name>
        <label>Update Prio medium</label>
        <locationX>1370</locationX>
        <locationY>2357</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updStatusInProgress</name>
        <label>Status In Progress</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>decStatusChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updUserCaseEmployeeClientPrioHigh</name>
        <label>Update Prio High</label>
        <locationX>50</locationX>
        <locationY>2465</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updUserCaseEmployeeClientPrioMedium</name>
        <label>Update Prio Medium</label>
        <locationX>314</locationX>
        <locationY>2465</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decAcceptedByUser</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
