force-app/main/default/flows/Forward_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assClientForwardToMerchant</name>
        <label>assClientForwardToMerchant</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToMerchants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseClientToMerchant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updClientForwardToMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assClientForwardToUser</name>
        <label>assClientForwardToUser</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseClientToUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAllTypesForwardToUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMerchantForwardToClient</name>
        <label>assMerchantForwardToClient</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToClients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseMerchantToClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updMerchantForwardToClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMerchantForwardToUser</name>
        <label>assMerchantForwardToUser</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseMerchantToUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAllTypesForwardToUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assUserForwardToClient</name>
        <label>assUserForwardToClient</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToClients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseUserToClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updUserForwardToClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assUserForwardToMerchant</name>
        <label>assUserForwardToMerchant</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varForwardToMerchants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decForwardCaseUserToMerchant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updUserForwardToMerchant</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chcForwardToClients</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ForwardClients</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcForwardToMerchants</name>
        <choiceText>Merchants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ForwardMerchants</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcForwardUser</name>
        <choiceText>User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ForwardUser</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decForwardCase</name>
        <label>decForwardCase</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decForwardCaseUserToClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardUserCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardToClients</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ER_User_Case_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assUserForwardToClient</targetReference>
            </connector>
            <label>User Forward to Client</label>
        </rules>
        <rules>
            <name>decForwardCaseUserToMerchant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardUserCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardToMerchants</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ER_User_Case_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assUserForwardToMerchant</targetReference>
            </connector>
            <label>User Forward To Merchant</label>
        </rules>
        <rules>
            <name>decForwardCaseClientToUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardClientCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assClientForwardToUser</targetReference>
            </connector>
            <label>Client Forward to User</label>
        </rules>
        <rules>
            <name>decForwardCaseClientToMerchant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardClientCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardToMerchants</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assClientForwardToMerchant</targetReference>
            </connector>
            <label>Client Forward to Merchant</label>
        </rules>
        <rules>
            <name>decForwardCaseMerchantToClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardMerchantCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardToClients</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assMerchantForwardToClient</targetReference>
            </connector>
            <label>Merchant Forward to Client</label>
        </rules>
        <rules>
            <name>decForwardCaseMerchantToUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnForwardMerchantCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chcForwardUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assMerchantForwardToUser</targetReference>
            </connector>
            <label>Merchant Forward to User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmAccountIDFromEmployee</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getCurrentCase.ER_Employee__c}), &quot;&quot;, {!getCurrentCase.ER_Employee__r.ER_Client__r.Id})</expression>
    </formulas>
    <interviewLabel>Forward Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Forward Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAffiliateCaseRT</name>
        <label>Affiliate Case RT</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserCaseRT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affiliate_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClientCaseRT</name>
        <label>Client Case RT</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAffiliateCaseRT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentCase</name>
        <label>getCurrentCase</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getClientCaseRT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserCaseRT</name>
        <label>User Case RT</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrForwardCase</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_User_Case_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updAllTypesForwardToUser</name>
        <label>updAllTypesForwardToUser</label>
        <locationX>1370</locationX>
        <locationY>1172</locationY>
        <connector>
            <targetReference>scrForwardComplete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ER_CaseReason2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getUserCaseRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updClientForwardToMerchant</name>
        <label>updClientForwardToMerchant</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrForwardComplete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ER_CaseReason2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateCaseRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updMerchantForwardToClient</name>
        <label>updMerchantForwardToClient</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrForwardComplete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ER_CaseReason2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getClientCaseRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updUserForwardToClient</name>
        <label>updUserForwardToClient</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrForwardComplete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>frmAccountIDFromEmployee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_CaseReason2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Individual__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getClientCaseRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updUserForwardToMerchant</name>
        <label>updUserForwardToMerchant</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrForwardComplete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorText</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_CaseReason2__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Employee__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ER_Individual__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getAffiliateCaseRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrErrorText</name>
        <label>scrErrorText</label>
        <locationX>2954</locationX>
        <locationY>1280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dspErrorWarning</name>
            <fieldText>&lt;p&gt;Error!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Action interrupted. Please contact your administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrForwardCase</name>
        <label>scrForwardCase</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decForwardCase</targetReference>
        </connector>
        <fields>
            <name>btnForwardUserCase</name>
            <choiceReferences>chcForwardToClients</choiceReferences>
            <choiceReferences>chcForwardToMerchants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where Should the Case Be Forwarded?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ER_User_Case_RT	</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnForwardClientCase</name>
            <choiceReferences>chcForwardToMerchants</choiceReferences>
            <choiceReferences>chcForwardUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where Should the Case Be Forwarded?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnForwardMerchantCase</name>
            <choiceReferences>chcForwardToClients</choiceReferences>
            <choiceReferences>chcForwardUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where Should the Case be Forwarded?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCurrentCase.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Affiliate_Case	</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrForwardComplete</name>
        <label>scrForwardComplete</label>
        <locationX>1370</locationX>
        <locationY>1280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgCaseForwarded</name>
            <fieldText>&lt;p&gt;The type of your Case {!getCurrentCase.CaseNumber} has been changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForwardToClients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForwardToMerchants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForwardToUsers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
