force-app/main/default/flows/LEAD_Lead_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assLeadChannelContent</name>
        <label>Lead Channel Content</label>
        <locationX>3845</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Content</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelDirectInbound</name>
        <label>Lead Channel Direct Inbound</label>
        <locationX>4637</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Inbound</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelEvents</name>
        <label>Lead Channel Events</label>
        <locationX>4373</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Events</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelOther</name>
        <label>Lead Channel Other</label>
        <locationX>4109</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelOutbound</name>
        <label>Lead Channel Outbound</label>
        <locationX>5165</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelPayperLead</name>
        <label>Lead Channel Pay per Lead</label>
        <locationX>5957</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay per Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelSEA</name>
        <label>Lead Channel SEA</label>
        <locationX>2525</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelSEO</name>
        <label>Lead Channel SEO</label>
        <locationX>3053</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadChannelSocial</name>
        <label>Lead Channel Social</label>
        <locationX>3317</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varLeadChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>updLeadChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadSourceBing</name>
        <label>Lead Source Bing</label>
        <locationX>4967</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decLeadSourcePopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadSourceGoogle</name>
        <label>Lead Source Google</label>
        <locationX>4703</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Google</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decLeadSourcePopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLeadSourceMeta</name>
        <label>Lead Source Meta</label>
        <locationX>5231</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decLeadSourcePopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decCampaignMembersDynamischeKampagne</name>
        <label>Campaign Members Dynamische Kampagne</label>
        <locationX>3482</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberDynamischeKampagne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Dynamische Kampagne None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersDynamischeKampagneAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersDynamischeKampagne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Dynamische Kampagne Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersGiftingAO</name>
        <label>Campaign Members Gifting AO</label>
        <locationX>578</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberGiftingAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gifting AO None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersGiftingAOAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersGifitingAO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Gifting AO Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersGiftingChristmas</name>
        <label>Campaign Members Gifting Christmas</label>
        <locationX>2426</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberGiftingChristmas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Gifting Christmas None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersGiftingChristmasAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersGiftingChristmas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Gifting Christmas Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersLunch</name>
        <label>Campaign Members Lunch</label>
        <locationX>5066</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberLunch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Lunch None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersLunchAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersLunch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Lunch Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersLunchAO</name>
        <label>Campaign Members Lunch AO</label>
        <locationX>50</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberLunchAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Lunch AO None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersLunchAOAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersLunchAO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Lunch AO Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersMitarbeitermotivation</name>
        <label>Campaign Members Mitarbeitermotivation</label>
        <locationX>1898</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberMitarbeitermotivation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Mitarbeitermotivation None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersMitarbeitermotivationAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersMitarbeitermotivation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Mitarbeitermotivation Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersProductMixAO</name>
        <label>Campaign Members Product Mix AO</label>
        <locationX>1106</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberProductMixAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Product Mix AO ANone</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersProductMixAOAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersProductMixAO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Product Mix AO Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCampaignMembersReferenzkunden</name>
        <label>Campaign Members Referenzkunden</label>
        <locationX>2954</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>creCampaignMemberReferenzkunden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Referenzkunden None</defaultConnectorLabel>
        <rules>
            <name>decCampaignMembersReferenzkundenAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembersReferenzkunden</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CM Referenzkunden Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decLeadSource</name>
        <label>Lead Source</label>
        <locationX>4373</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>decUTMCampaignPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decLeadSourceGoogle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelSEA</targetReference>
            </connector>
            <label>Source Google</label>
        </rules>
        <rules>
            <name>decLeadSourceBing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assLeadChannelSEA</targetReference>
            </connector>
            <label>Source Bing</label>
        </rules>
        <rules>
            <name>decLeadSourceWebsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelSEO</targetReference>
            </connector>
            <label>Source Prospect Form</label>
        </rules>
        <rules>
            <name>decLeadSourceLinkedIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelSocial</targetReference>
            </connector>
            <label>Source LinkedIn</label>
        </rules>
        <rules>
            <name>decLeadSourceMeta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assLeadChannelSocial</targetReference>
            </connector>
            <label>Source Meta</label>
        </rules>
        <rules>
            <name>decLeadSourceWhitepaper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whitepaper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelContent</targetReference>
            </connector>
            <label>Source Whitepaper</label>
        </rules>
        <rules>
            <name>decLeadSourceOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelOther</targetReference>
            </connector>
            <label>Source Other</label>
        </rules>
        <rules>
            <name>decLeadSourceEvents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Events</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelEvents</targetReference>
            </connector>
            <label>Source Events</label>
        </rules>
        <rules>
            <name>decLeadSourcePhoneIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelDirectInbound</targetReference>
            </connector>
            <label>Source Phone In</label>
        </rules>
        <rules>
            <name>decLeadSourceEmailIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Mail In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assLeadChannelDirectInbound</targetReference>
            </connector>
            <label>Source E-Mail In</label>
        </rules>
        <rules>
            <name>decLeadSourceOutboundOwn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Own Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelOutbound</targetReference>
            </connector>
            <label>Source Outbound Own Network</label>
        </rules>
        <rules>
            <name>decLeadSourceOutboundStrategic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Strategic List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assLeadChannelOutbound</targetReference>
            </connector>
            <label>Source Outbound Strategic List</label>
        </rules>
        <rules>
            <name>decLeadSourceOutboundOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assLeadChannelOutbound</targetReference>
            </connector>
            <label>Source Outbound Other</label>
        </rules>
        <rules>
            <name>decLeadSourcePayperLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay per lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadChannelPayperLead</targetReference>
            </connector>
            <label>Source Pay per Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>decLeadSourcePopulated</name>
        <label>Lead Source Populated</label>
        <locationX>5385</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Lead Source Not Populated</defaultConnectorLabel>
        <rules>
            <name>decLeadSourcePopulatedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decLeadSource</targetReference>
            </connector>
            <label>Lead Source Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>decProduct</name>
        <label>Product</label>
        <locationX>578</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>getCampaignMembersProductMixAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>decProductELorER</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Lebensmittel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Restaurant Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Lebensmittel Plasticless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Restaurant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Restaurant Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Restaurant Plasticless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersLunchAO</targetReference>
            </connector>
            <label>EL or ER</label>
        </rules>
        <rules>
            <name>decProductEG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Geschenk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Geschenk Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Geschenk Plasticless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersGifitingAO</targetReference>
            </connector>
            <label>EG</label>
        </rules>
    </decisions>
    <decisions>
        <name>decTrackingURL</name>
        <label>Tracking URL</label>
        <locationX>4274</locationX>
        <locationY>2411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decTrackingURLEssenszuschuss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_URL__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>whitepaper-steuerfreier-essenszuschuss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getCampaignMembersLunchAO</targetReference>
            </connector>
            <label>Essenszuschuss</label>
        </rules>
        <rules>
            <name>decTrackingURLXmas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_URL__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>whitepaper-mit-weihnachtsgeschenken-mitarbeitermotivation-staerken</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getCampaignMembersGifitingAO</targetReference>
            </connector>
            <label>Xmas</label>
        </rules>
        <rules>
            <name>decTrackingURLTopMitarbeiterbenefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_URL__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>whitepaper-top-mitarbeiterbenefits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getCampaignMembersProductMixAO</targetReference>
            </connector>
            <label>Top Mitarbeiterbenefits</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUTMCampaign</name>
        <label>UTM Campaign</label>
        <locationX>3020</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decUTMCampaignGutschein</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gutschein</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gutscheine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decProduct</targetReference>
            </connector>
            <label>UTM Gutschein</label>
        </rules>
        <rules>
            <name>decUTMCampaignBenefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>benefits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>decProduct</targetReference>
            </connector>
            <label>UTM Benefits</label>
        </rules>
        <rules>
            <name>decUTMCampaignMitarbeitermotivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mitarbeitermotivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersMitarbeitermotivation</targetReference>
            </connector>
            <label>UTM Mitarbeitermotivation</label>
        </rules>
        <rules>
            <name>decUTMCampaignXmas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>xmas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersGiftingChristmas</targetReference>
            </connector>
            <label>UTM Xmas</label>
        </rules>
        <rules>
            <name>decUTMCampaignReferenzkunden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>decUTMCampaignReferenzkunden</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersReferenzkunden</targetReference>
            </connector>
            <label>UTM Referenzkunden</label>
        </rules>
        <rules>
            <name>decUTMCampaignDyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersDynamischeKampagne</targetReference>
            </connector>
            <label>UTM Dyn</label>
        </rules>
        <rules>
            <name>decUTMCampaignWhitepaper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>whitepaper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decTrackingURL</targetReference>
            </connector>
            <label>UTM Whitepaper</label>
        </rules>
        <rules>
            <name>decUTMCampaignLunch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lunch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembersLunch</targetReference>
            </connector>
            <label>UTM Lunch</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUTMCampaignPopulated</name>
        <label>UTM Campaign Populated</label>
        <locationX>4373</locationX>
        <locationY>2195</locationY>
        <defaultConnectorLabel>UTM Campaign Not Populated</defaultConnectorLabel>
        <rules>
            <name>decUTMCampaignPopulatedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_campaign__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decUTMCampaign</targetReference>
            </connector>
            <label>UTM Campaign Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUtmSource</name>
        <label>UTM Source</label>
        <locationX>5099</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>decLeadSourcePopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decUtmSourcegoogle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>google</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadSourceGoogle</targetReference>
            </connector>
            <label>Source google</label>
        </rules>
        <rules>
            <name>decUtmSourcebing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadSourceBing</targetReference>
            </connector>
            <label>Source bing</label>
        </rules>
        <rules>
            <name>decUtmSourcemeta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>meta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLeadSourceMeta</targetReference>
            </connector>
            <label>Source meta</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUtmSourcePopulated</name>
        <label>UTM Source Populated</label>
        <locationX>5385</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>decLeadSourcePopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UTM Source Not Populated</defaultConnectorLabel>
        <rules>
            <name>decUtmSourcePopulatedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Utm_source__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decUtmSource</targetReference>
            </connector>
            <label>UTM Source Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LEAD: Lead AS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD: Lead AS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creCampaignMemberDynamischeKampagne</name>
        <label>Campaign Member Dynamische Kampagne</label>
        <locationX>3614</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignDynamischeKampagneAO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberGiftingAO</name>
        <label>Campaign Member Gifting AO</label>
        <locationX>710</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignGiftingAO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberGiftingChristmas</name>
        <label>Campaign Member Gifting Christmas</label>
        <locationX>2558</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignGiftingChristmas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberLunch</name>
        <label>Campaign Member Lunch</label>
        <locationX>5198</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignLunch.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberLunchAO</name>
        <label>Campaign Member Lunch AO</label>
        <locationX>182</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignLunchAO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberMitarbeitermotivation</name>
        <label>Campaign Member Mitarbeitermotivation</label>
        <locationX>2030</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignMitarbeitermotivationKonkurrenzkampagnePLX.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberProductMixAO</name>
        <label>Campaign Member Product Mix AO</label>
        <locationX>1238</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignProductMixAO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creCampaignMemberReferenzkunden</name>
        <label>Campaign Member Referenzkunden</label>
        <locationX>3086</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getCampaignReferenzkunden.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCampaignDynamischeKampagneAO</name>
        <label>Get Campaign Dynamische Kampagne AO</label>
        <locationX>5385</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignLunch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dynamische Kampagne AO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignGiftingAO</name>
        <label>Get Campaign Gifting AO</label>
        <locationX>5385</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignProductMixAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gifting AO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignGiftingChristmas</name>
        <label>Get Campaign Gifting Christmas</label>
        <locationX>5385</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignReferenzkunden</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gifting Christmas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignLunch</name>
        <label>Get Campaign Lunch</label>
        <locationX>5385</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decUtmSourcePopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lunch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignLunchAO</name>
        <label>Get Campaign Lunch AO</label>
        <locationX>5385</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignGiftingAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lunch AO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersDynamischeKampagne</name>
        <label>Get Campaign Members Dynamische Kampagne</label>
        <locationX>3482</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersDynamischeKampagne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignDynamischeKampagneAO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersGifitingAO</name>
        <label>Get Campaign Members Gifting AO</label>
        <locationX>578</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersGiftingAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignGiftingAO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersGiftingChristmas</name>
        <label>Get Campaign Members Gifting Christmas</label>
        <locationX>2426</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersGiftingChristmas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignGiftingChristmas.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersLunch</name>
        <label>Get Campaign Members Lunch</label>
        <locationX>5066</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersLunch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignLunch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersLunchAO</name>
        <label>Get Campaign Members Lunch AO</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersLunchAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignLunchAO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersMitarbeitermotivation</name>
        <label>Get Campaign Members Mitarbeitermotivation</label>
        <locationX>1898</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersMitarbeitermotivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignMitarbeitermotivationKonkurrenzkampagnePLX.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersProductMixAO</name>
        <label>Get Campaign Members Product Mix AO</label>
        <locationX>1106</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersProductMixAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignProductMixAO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMembersReferenzkunden</name>
        <label>Get Campaign Members Referenzkunden</label>
        <locationX>2954</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCampaignMembersReferenzkunden</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignReferenzkunden.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignMitarbeitermotivationKonkurrenzkampagnePLX</name>
        <label>Get Campaign Mitarbeitermotivation (Konkurrenzkampagne PLX)</label>
        <locationX>5385</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignGiftingChristmas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mitarbeitermotivation (Konkurrenzkampagne PLX)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignProductMixAO</name>
        <label>Get Campaign Product Mix AO</label>
        <locationX>5385</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignMitarbeitermotivationKonkurrenzkampagnePLX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Mix AO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCampaignReferenzkunden</name>
        <label>Get Campaign Referenzkunden</label>
        <locationX>5385</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignDynamischeKampagneAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referenzkunden</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updLeadChannel</name>
        <label>Lead Channel</label>
        <locationX>2525</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>decUTMCampaignPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Channel__c</field>
            <value>
                <elementReference>varLeadChannel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>5259</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCampaignLunchAO</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
