force-app/main/default/flows/LEAD_Lead_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec6DaysAfterCreDate</name>
        <label>6 Days After Creation</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>dec6DaysAfterCreDateYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmCreatedDatePlus6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updLeadSourceMCCBacklog</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmCreatedDatePlus6</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+6</expression>
    </formulas>
    <interviewLabel>LEAD: Lead Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD: Lead Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updLeadSourceMCCBacklog</name>
        <label>Lead Source MCC Backlog</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>MCC Backlog</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec6DaysAfterCreDate</targetReference>
        </connector>
        <filterLogic>(1 or 2) and 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contacted, no conversation</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MCC</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-15</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
