force-app/main/default/flows/MCC_AUTH_MCC_Authorisation_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decLoopMCCAvailable</name>
        <label>Loop and MCC Available</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decLoopMCCAvailableYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Loop__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ER_MCC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updMCCAuthID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Old Workflow Rules:
WKF025_Unique_MMC_Auth_Record</description>
    <environments>Default</environments>
    <formulas>
        <name>frmMCCAuthID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.ER_Loop__c})&amp;&quot;.&quot;&amp;CASESAFEID({!$Record.ER_MCC__c})</expression>
    </formulas>
    <interviewLabel>MCC Auth {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCC AUTH: MCC Authorisation BS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updMCCAuthID</name>
        <label>MCC Auth ID</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>UniqueMCCAuthID__c</field>
            <value>
                <elementReference>frmMCCAuthID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decLoopMCCAvailable</targetReference>
        </connector>
        <object>ER_MCC_Authorization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
