force-app/main/default/flows/OPPORTUNITY_Opportunity_BS_create_only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decIsMerchantOpportunity</name>
        <label>Is Merchant Opportunity</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>decLeadSourceType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decIsMerchantOpportunityYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getMerchantOpportunityRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updPlannedCloseDateNewMerchantOpp</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decLeadSourceType</name>
        <label>Lead Source Type</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decLeadSourceTypeMerchant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merchant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updMerchantOpportunityRT</targetReference>
            </connector>
            <label>Merchant</label>
        </rules>
        <rules>
            <name>decLeadSourceTypeClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updClientOpportunityRT</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <description>Set Merchant Opportunity Close Date to Current Date + 6 weeks (2024-05-15)

Old Workflow Rule:
WKF003_Opp_RT_Affiliate
WKF004_Opp_RT_Client</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCurrentDatePlus6Weeks</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+42</expression>
    </formulas>
    <interviewLabel>OPPORTUNITY: Opportunity BS create only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY: Opportunity BS create only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClientOpportunityRT</name>
        <label>Client Opportunity RT</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decIsMerchantOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Opportunity_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMerchantOpportunityRT</name>
        <label>Merchant Opportunity RT</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getClientOpportunityRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merchant_Opportunity_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updClientOpportunityRT</name>
        <label>Client Opportunity RT</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getClientOpportunityRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updMerchantOpportunityRT</name>
        <label>Merchant Opportunity RT</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getMerchantOpportunityRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updPlannedCloseDateNewMerchantOpp</name>
        <label>Planned Close Date New Merchant Opp</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>decLeadSourceType</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>frmCurrentDatePlus6Weeks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMerchantOpportunityRT</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
