force-app/main/default/flows/STORE_AUTH_Store_Authorisation_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decStoreLoopAvailable</name>
        <label>Store and Loop Available</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreLoopAvailableYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ER_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ER_Loop__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStoreLoopRelation</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Old Workflow Rules:
WKF024_Unique_Store_Auth_ID</description>
    <environments>Default</environments>
    <formulas>
        <name>frmStoreLoopRelation</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.ER_Loop__c})&amp;&quot;.&quot;&amp;CASESAFEID({!$Record.ER_Store__c})</expression>
    </formulas>
    <interviewLabel>STORE AUTH: Store Authorisation BS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STORE AUTH: Store Authorisation BS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updStoreLoopRelation</name>
        <label>Store Loop Relation</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>UniqueStoreLoopRelation__c</field>
            <value>
                <elementReference>frmStoreLoopRelation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decStoreLoopAvailable</targetReference>
        </connector>
        <object>ER_Store_Authorization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
