force-app/main/default/flows/STORE_Store_AS_create_only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assStoreAuthGeschenk</name>
        <label>Store Authorization Geschenk</label>
        <locationX>1458</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Behaviour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACCEPT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Loop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGeschenkLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assStoreAuthorizationCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assStoreAuthLebensmittel</name>
        <label>Store Authorization Lebensmittel</label>
        <locationX>930</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Behaviour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACCEPT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Loop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLebensmittelLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assStoreAuthorizationCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assStoreAuthorizationCollection</name>
        <label>Store Authorization Collection</label>
        <locationX>996</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStoreAuthorizationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopActiveContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assStoreAuthRestaurant</name>
        <label>Store Authorization Restaurant</label>
        <locationX>402</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Behaviour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACCEPT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreAuthorizationRecord.ER_Loop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRestaurantLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assStoreAuthorizationCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decContractType</name>
        <label>Contract Type</label>
        <locationX>996</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loopActiveContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decContractTypeRestaurant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ticket Restaurant Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Restaurant Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decStoreAuthorizationsRestaurantExisting</targetReference>
            </connector>
            <label>Restaurant</label>
        </rules>
        <rules>
            <name>decContractTypeLebensmittel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ticket Service Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Lebensmittel Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decStoreAuthLebensmittelExisting</targetReference>
            </connector>
            <label>Lebensmittel</label>
        </rules>
        <rules>
            <name>decContractTypeGeschenk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ticket Compliments Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopActiveContracts.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edenred Geschenk Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decStoreAuthGeschenkExisting</targetReference>
            </connector>
            <label>Geschenk</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreAcceptsCards</name>
        <label>Store Accepts Cards</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreAcceptsCardsYES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AT_Accepts_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AT_Accepts_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher+Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopActiveContracts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreAuthGeschenkExisting</name>
        <label>Store Authorizations Geschenk Existing</label>
        <locationX>1326</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>assStoreAuthGeschenk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreAuthGeschenkExistingYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreAuthGeschenk</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>loopActiveContracts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreAuthLebensmittelExisting</name>
        <label>Store Authorizations Lebensmittel Existing</label>
        <locationX>798</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>assStoreAuthLebensmittel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreAuthLebensmittelExistingYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreAuthLebensmittel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>loopActiveContracts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreAuthorizationsRestaurantExisting</name>
        <label>Store Authorizations Restaurant Existing</label>
        <locationX>270</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>assStoreAuthRestaurant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreAuthorizationsRestaurantExistingYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreAuthRestaurant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>loopActiveContracts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoreIsActive</name>
        <label>Store Is Active</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decStoreIsActiveYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AT_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decStoreAcceptsCards</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>STORE: Store AS create only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STORE: Store AS</label>
    <loops>
        <name>loopActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>getActiveContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decContractType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>creStoreAuthorizations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creStoreAuthorizations</name>
        <label>Store Authorizations</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <inputReference>varStoreAuthorizationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRestaurantLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ER_Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ER_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGeschenkLoop</name>
        <label>Geschenk Loop</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStoreAuthRestaurant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Loop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLebensmittelLoop</name>
        <label>Lebensmittel Loop</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGeschenkLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Loop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRestaurantLoop</name>
        <label>Restaurant Loop</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLebensmittelLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Loop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAuthGeschenk</name>
        <label>Store Authorizations Geschenk</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoreIsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ER_Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ER_Loop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getGeschenkLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Store_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAuthLebensmittel</name>
        <label>Store Authorizations Lebensmittel</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStoreAuthGeschenk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ER_Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ER_Loop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLebensmittelLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Store_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAuthRestaurant</name>
        <label>Store Authorizations Restaurant</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStoreAuthLebensmittel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ER_Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ER_Loop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRestaurantLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ER_Store_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveContracts</targetReference>
        </connector>
        <object>ER_Store__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>varStoreAuthorizationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Store_Authorization__c</objectType>
    </variables>
    <variables>
        <name>varStoreAuthorizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ER_Store_Authorization__c</objectType>
    </variables>
</Flow>
