force-app/main/default/flows/TASK_Task_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decTaskTypeEmpty</name>
        <label>Task Type Empty</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>updTaskSubject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decTaskTypeEmptyYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Old Workflow Rules:
WKF015_Tasks_Update_Subject</description>
    <environments>Default</environments>
    <formulas>
        <name>frmTaskSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type})&amp;&quot; - &quot;&amp;{!$Record.Time__c}</expression>
    </formulas>
    <interviewLabel>TASK: Task BS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TASK: Task BS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updTaskSubject</name>
        <label>Task Subject</label>
        <locationX>264</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>frmTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decTaskTypeEmpty</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
