force-app/main/default/flows/USER_User_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assPriosInput</name>
        <label>Prios Input</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>varPriosInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPriosInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUserWithPrio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assUserWithPrio</name>
        <label>User with Prio</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varUserWithPrio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserWithPrio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decUserWithPrioFound</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>errUserWithPrioFound</name>
        <label>User With Prio Found</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <customErrorMessages>
            <errorMessage>We found a user with Prioritization(s) {!frmPriosInput}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>decUserWithPrioFound</name>
        <label>User with Prio Found</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>decUserWithPrioFoundYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserWithPrio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errUserWithPrioFound</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmPriosInput</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.ERAT_PrioHandler1__c}, &quot;&quot;),&quot;&quot;,TEXT({!$Record.ERAT_PrioHandler1__c})) &amp;
IF(ISPICKVAL({!$Record.ERAT_PrioHandler2__c}, &quot;&quot;),&quot;&quot;,&quot;, &quot;&amp;TEXT({!$Record.ERAT_PrioHandler2__c})) &amp;
IF(ISPICKVAL({!$Record.ERAT_PrioHandler3__c}, &quot;&quot;),&quot;&quot;,&quot;, &quot;&amp;TEXT({!$Record.ERAT_PrioHandler3__c}))</expression>
    </formulas>
    <interviewLabel>USER: User BS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>USER: User BS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getUserWithPrio</name>
        <label>User with Prio</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assUserWithPrio</targetReference>
        </connector>
        <filterLogic>((5 and (1 or 2 or 3)) or (9 and (6 or 7 or 8)) or (13 and (10 or 11 or 12))) and 4</filterLogic>
        <filters>
            <field>ERAT_PrioHandler1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERAT_PrioHandler3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERAT_PrioHandler3__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assPriosInput</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPriosInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserWithPrio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
